body {
    background: url(../img/4.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	color: /*#ccc*/#b775d4;
    font-family: monospace;
	font-size: 1em;
	margin: 0 auto;
	max-width: 60em;
	padding: 0 1em;
}

/* Style the header at the top of the page */

header {
	border-style: dotted;
	border-width: 0 0 .1em 0;
	font-size: .66em;
    color: red;
    text-align:right;
}
header>img {
    height:40px;
}
header>h1{
    display:inline;
    float: left;
}

/* This makes all links bold */

a {
	font-weight: bold;
    color: /*#ccc*/#75cad4;
}

/* Places a little space below an unordered list item */

ul li {
	padding: 0 0 .33em 0;
}

/* Styling tables and code blocks */

table, th, td {
	border: .1em solid black;
    background:black;
	margin: 0 auto;
}

code {
	font-weight: bold;
}

/* Style the footer at the bottom of the page */

footer {
	border-style: dotted;
	border-width: .1em 0 0 0;
}

.footerimg {
    position:absolute;
    bottom:0px;
    left:15%;
}

.home {
    width:50px;
}

.posters-wrapper {
    overflow-x:scroll;
}

.posters {
    width: 50px;
}

.posters td, .posters th  {
    width:200px;
    text-align:center;
}

.posters img {
    width: 225px;
    height: 340px;
}

hr {
    border-color:/*#ccc*/#75cad4; 
    border-style: dotted;
}
